name: Chat Service - Angular tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v1

      - name: Node $
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: npm install and npm run build
        env:
          working-directory: ./chat/src/main/webapp
        run: |
          npm ci
          npm run build:ci