name: Chat Service - Gradle tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11

        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Build with Gradle
        run: |
          cd chat
          sh gradlew clean build -x test

      - name: Run tests
        run: |
          cd chat
          sh gradlew test
